.form-btn{
    background-color: #666;
    color: #000;
}

.display-3 {
    color: #FFFFFF;
    text-align: end;
}

.mb-4 {
    color: #000;
}

.lead{
    color: #FFFFFF;
}

.py-5 {
    background-image: url(../img/DSC_0727.JPG);	background-position: right bottom;	background-size: cover;	
    background-repeat: repeat; background-attachment: fixed;
}

.footer {
    padding: 10px;
   background-color: #FFFFFF;
}

.imgRect {
    object-fit: cover;
    width:100%;
    height:100%;
    max-height:250px;
    max-width: 250px;
}
.imgRect:hover {
    object-fit: cover;
    width:100%;
    height:100%;
    max-height:250px;
    max-width: 250px;
    cursor: pointer;
}

.imgHome {
    object-fit: cover;
    width:100%;
    height:100%;
    max-height:150px;
    max-width: 150px;
}

.imgModal {
    max-height:900px;
    max-width: 700px;
    align-content: center;
    object-fit: contain;
    width:100%;
}

.imgAbout {
    object-fit: cover;
    width:100%;
    height:100%;
    max-height:530px;
    max-width: 1500px;
    align-content: center;
}

.img-fluid{
    max-width: 100%;
}

.container {
    height: 100%;
}

/*map size*/
#map {
    height: 350px;
    width:100%;
}


/*gallery code*/
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    /*width: 33.33%;*/
    display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 10px;
  background-color: lightgray;
  cursor: pointer;
  color: #000000;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
   color: white;
}